/** vars **/
:root {
  --color-text: rgb(255, 255, 255);
  --color-text-alt: rgb(0, 0, 0);
  --color-bg-dark: rgb(27, 27, 27);
  --color-accent: rgb(0, 255, 255);
  --color-bg-about: rgb(94, 133, 133);
  --color-bg-skills: rgb(80, 160, 160);
  --color-bg-projects: rgb(38, 116, 116);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: var(--color-text);
}

body {
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template-rows: max-content 80vh;
}

/** nav section **/
.nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
}
.link-wrapper:hover {
  background-color: rgb(0, 0, 0);
}
.section-nav-link {
  width: 45px;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  display: inline-block;
  transition: all 1s;
}
.link-text {
  opacity: 0;
  display: none;
  transition: all 1s;
}
.section-nav-link:hover {
  transform: translateX(20px);
  opacity: 1;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  width: 100px;
  color: var(--color-accent);
}
.section-nav-link:hover .link-text {
  display: inline;
  opacity: 1;
}
.active {
  opacity: 1;
  color: #f603f3;
  /* color: var(--color-accent); */
}
/* end - nav */

/** header section **/
.header {
  height: 95vh;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  z-index: 5;
  display: grid;
  justify-items: center;
  align-items: center;
}

.banner {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.line {
  height: 2px;
  width: 75%;
  background-color: var(--color-accent);
}
/* end - header */

/** about section **/
.about {
  height: 80vh;
  background-color: var(--color-bg-about);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  /* transform: translateY(-10%); */
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
}
/* end - about */

/** skills section **/
.skills {
  height: 80vh;
  background-color: var(--color-bg-skills);
  z-index: 3;
  /* transform: translateY(-20%); */
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}
/* end - skills */

/** projects section **/
.projects {
  height: 80vh;
  background-color: var(--color-bg-projects);
  z-index: 2;
  /* transform: translateY(-30%); */
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}
/* end - projects */

/** footer section **/
.footer {
  background-color: black;
  text-align: center;
  padding: 1rem;
  color: #afafaf;
  font-size: 0.8rem;
}
/* end - */

.main-heading {
  font-weight: 500;
}
.sub-heading {
  font-weight: 400;
}
.muted {
  opacity: 0.3;
}
