/** vars **/
:root {
  --color-text: rgb(255, 255, 255);
  --color-text-alt: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-bg-dark: rgb(27, 27, 27);
  --color-bg-dark-grad: rgb(52, 52, 52);
  --color-accent: rgb(0, 255, 255);
  --color-accent-alt: rgb(246, 3, 243);
  --color-bg-about: rgb(94, 133, 133);
  --color-bg-skills: rgb(80, 160, 160);
  --color-bg-projects: rgb(38, 116, 116);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: var(--color-text);
}

body {
  box-sizing: border-box;
}

.page {
  display: grid;
  /* grid-template-rows: max-content 80vh; */
}
section {
  display: flex;
  align-items: center;
}
.section-body {
  width: 80%;
  margin: 0 auto;
}
.section-heading {
  /* color: var(--color-text-alt); */
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--color-text-alt);
}

/** nav section **/
.nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
}
.link-wrapper:hover {
  background-color: rgb(0, 0, 0);
  width: 50px;
}
.section-nav-link {
  width: 55px;
  height: 48px;
  padding: 0.5rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 1s;
}
.nav-icon {
  width: 2rem;
  fill: var(--color-white);
  opacity: 0.5;
}
.link-text {
  opacity: 0;
  display: none;
  transition: all 1s;
}
.active {
  opacity: 1;
  color: var(--color-accent-alt);
}
.active .nav-icon {
  fill: var(--color-accent-alt);
}
.link-wrapper:hover .section-nav-link {
  transform: translateX(10px);
  opacity: 1;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  width: 140px;
  padding-right: 2rem;
  color: var(--color-accent);
}
.link-wrapper:hover .link-text {
  display: inline;
  opacity: 1;
}
.link-wrapper:hover .nav-icon {
  fill: var(--color-accent);
  opacity: 1;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.link-icon {
  height: 50px;
  fill: var(--color-accent);
  padding: 4px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}
.link-icon:hover {
  fill: var(--color-black);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  transform: scale(1.1);
  cursor: pointer;
}
/* end - nav */

/** header section **/
.header {
  height: 95vh;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  z-index: 5;
  display: grid;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--color-white);
  box-shadow: 0 5px 5px var(--color-bg-dark);
}
.banner {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
.main-heading {
  font-size: 3rem;
  font-weight: 700;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 400;
}
.line {
  height: 2px;
  width: 75%;
  background-color: var(--color-accent);
}
/* end - header */

/** about section **/
.about {
  height: 80vh;
  padding: 5rem 0;
  color: var(--color-text-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
/* end - about */

/** skills section **/
.skills {
  padding: 5rem 0;
  background-color: var(--color-bg-skills);
  background-color: var(--color-bg-dark);
  z-index: 3;
  text-align: center;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  box-shadow: 0 5px 5px var(--color-black), 0 -5px 5px var(--color-bg-dark);
}
.level {
  color: var(--color-text);
  font-size: 1.25rem;
  grid-column: span 3;
  padding: 0.5rem;
}
.skillset {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.skill {
  border: 1px solid var(--color-white);
  border-radius: 5px;
  background-color: var(--color-bg-dark);
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  box-shadow: 2px 2px 2px #afafaf;
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s;
}
.slide-skill {
  opacity: 1;
  transform: translateX(0);
}
.skill-icon {
  height: 48px;
  background-color: var(--color-white);
}
/* end - skills */

/** projects section **/
.projects {
  height: 80vh;
  color: var(--color-text-alt);
  z-index: 2;
  transform: translateY(-10px);
  display: flex;
}
.project-cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 250px);
  text-align: center;
  align-items: center;
  height: 500px; /* keep same */
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 500px; /* keep same */
}

.card-face {
  transition: all 1s ease;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  border: 1px solid var(--color-white);
  box-shadow: 2px 2px 2px var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-back {
  background-color: var(--color-white);
  color: var(--color-text-alt);
  border: 1px solid var(--color-black);
  transform: rotateY(180deg);
  box-shadow: 2px 2px 2px var(--color-black);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0);
}

.app-image-wrap {
  width: 230px;
  height: 250px;
}
.app-image {
  display: block;
  max-width: 230px;
  max-height: 250px;
  height: auto;
  width: auto;
  /* object-fit: cover;
  width: 100%;
  height: auto; */
}
/* end - projects */

/** footer section **/
.footer {
  border-top: 2px solid var(--color-accent);
  background-color: black;
  text-align: center;
  padding: 1rem;
  color: #afafaf;
  font-size: 0.8rem;
}
/* end - */

#iel {
  opacity: 0;
  animation: fadeOut 3s;
}
.dan {
  display: inline-block;
  animation: shiftRight 2s ease-in;
}
.dan-pos {
  transform: translateX(26px);
}
.ack {
  display: inline-block;
  animation: shiftLeft 2s ease-in;
}
.ack-pos {
  transform: translateX(-26px);
}

/* animations */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shiftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(26px);
  }
}

@keyframes shiftLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-26px);
  }
}
