/** vars **/
:root {
  --color-text: rgb(255, 255, 255);
  --color-text-alt: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-bg-dark: rgb(27, 27, 27);
  --color-bg-dark-grad: rgb(52, 52, 52);
  --color-accent: rgb(224, 170, 62);
  --color-accent-alt: rgb(146, 111, 52);
}

/** base **/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: var(--color-text);
}

body {
  box-sizing: border-box;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

section {
  padding: 5rem 0;
}

.page {
  position: relative;
}
.section-body {
  width: 80%;
  margin: 0 auto;
}
.section-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.section-light {
  color: var(--color-accent-alt);
}
.section-dark {
  color: var(--color-accent);
}
/* end - base */

/** contact links **/
.contact-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.link-icon {
  height: 3.5rem;
  fill: var(--color-accent);
  padding: 4px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}
.link-icon:hover {
  fill: var(--color-black);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  transform: scale(1.1);
  cursor: pointer;
}
/* end - contact links*/

/** nav section **/
.nav {
  color: black;
}
.nav-cb {
  display: none;
}
.nav-cb:checked ~ .nav-background {
  transform: scale(50);
}
.nav-cb:checked ~ .nav-container {
  opacity: 1;
  width: 100%;
}

.nav-button {
  height: 5.5rem;
  width: 5.5rem;
  position: fixed;
  border-radius: 50%;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 200;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(224, 170, 62, 0.5);
  cursor: pointer;
}
.nav-background {
  height: 5.4rem;
  width: 5.4rem;
  border-radius: 50%;
  position: fixed;
  top: 1.55rem;
  right: 1.55rem;
  background-image: radial-gradient(
    var(--color-bg-dark-grad),
    var(--color-bg-dark)
  );
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-container {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.nav-item {
  margin: 1rem;
}

.nav-link {
  padding: 1rem;
  transition: all 0.4s;
  display: inline-block;
}

.nav-link:link,
.nav-link:visited {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-white);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--color-accent) 50%
  );
  background-size: 250%;
}

.nav-link:hover,
.nav-link:active {
  background-position: 100%;
  color: var(--color-bg-dark-grad);
  transform: translateX(1rem);
}

.nav-menu-icon {
  position: relative;
  margin-top: 2.75rem;
}
.nav-menu-icon,
.nav-menu-icon::before,
.nav-menu-icon::after {
  width: 3rem;
  height: 3px;
  background-color: var(--color-accent);
  display: inline-block;
}
.nav-menu-icon::before,
.nav-menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav-menu-icon::before {
  top: -0.8rem;
}
.nav-menu-icon::after {
  top: 0.8rem;
}

.nav-button:hover .nav-menu-icon::before {
  top: -1rem;
}
.nav-button:hover .nav-menu-icon::after {
  top: 1rem;
}

.nav-cb:checked + .nav-button .nav-menu-icon {
  background-color: transparent;
}
.nav-cb:checked + .nav-button .nav-menu-icon::before {
  top: 0;
  transform: rotate(225deg);
}
.nav-cb:checked + .nav-button .nav-menu-icon::after {
  top: 0;
  transform: rotate(-225deg);
}
/* end - nav */

/** header section **/
.header {
  height: 98vh;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  z-index: 5;
  display: grid;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--color-white);
  box-shadow: 0 5px 5px var(--color-bg-dark);
}
.banner {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
.main-heading {
  font-size: 3rem;
  font-weight: 700;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 400;
}
.line {
  height: 2px;
  width: 75%;
  background-color: var(--color-accent);
}
/* end - header */

/** about section **/
.about {
  line-height: 2;
  padding: 5rem;
  color: var(--color-text-alt);
  text-align: center;
}
.contact-link {
  margin: 1rem auto;
  padding: 0.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-bg-dark);
  border-radius: 5px;
  transition: all 0.5s;
}
.arrow {
  transition: all 0.5s;
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
}
.contact-link:hover {
  background-color: var(--color-accent-alt);
  color: var(--color-white);
}
.contact-link:hover .arrow {
  transform: rotate(90deg);
  fill: var(--color-white);
}
.hello {
  font-size: 2.5rem;
  color: var(--color-accent-alt);
}
.intro {
  display: inline;
}
/* end - about */

/** skills section **/
.skills {
  background-color: var(--color-bg-skills);
  background-color: var(--color-bg-dark);
  text-align: center;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  box-shadow: 0 5px 5px var(--color-black), 0 -5px 5px var(--color-bg-dark);
}
.level {
  color: var(--color-accent);
  font-size: 1.25rem;
  margin: 1rem auto;
}
.skillset {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.skill {
  border: 1px solid var(--color-white);
  border-radius: 5px;
  background-color: var(--color-bg-dark);
  width: 250px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  box-shadow: 0 0 5px #afafaf;
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s;
}
.slide-skill {
  opacity: 1;
  transform: translateX(0);
}
.skill-icon {
  height: 48px;
  padding: 0.25rem;
  background-color: var(--color-white);
}
/* end - skills */

/** projects section **/
.projects {
  color: var(--color-text-alt);
  text-align: center;
}
.project-cards {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 500px;
  width: 250px;
}

.card-face {
  transition: all 1s ease;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front {
  background-color: rgb(0, 0, 0, 0.05);
  color: var(--color-text-alt);
  border: 1px solid var(--color-bg-dark);
  box-shadow: 0 0 5px var(--color-bg-dark);
}
.card-back {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  border: 1px solid var(--color-white);
  transform: rotateY(180deg);
  box-shadow: 0 0 5px var(--color-bg-dark);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0);
}

.image-wrap {
  position: absolute;
  top: 50%;
  transform: translate(-1rem, -75%);
  opacity: 0.9;
  width: 100%;
  height: 50%;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
.app-image {
  width: 100%;
  height: auto;
}
.desktop {
  width: auto;
  height: 100%;
}

.tech {
  border: 1px solid var(--color-white);
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-bg-dark);
  box-shadow: 0 0 3px var(--color-white);
}
.tech-icon {
  height: 48px;
  background-color: var(--color-white);
  padding: 0.25rem;
}
.tech:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.project-links {
  display: flex;
  justify-content: space-around;
}
/* end - projects */

/** footer section **/
.footer {
  border-top: 1px solid var(--color-white);
  background-color: var(--color-bg-dark);
  text-align: center;
  padding: 1rem;
  color: #afafaf;
  font-size: 0.8rem;
  box-shadow: 0 -5px 5px var(--color-black);
  padding-top: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}
.contact-form input,
.contact-form textarea {
  border: none;
  outline: none;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--color-bg-dark-grad);
}
.contact-form textarea {
  height: 10rem;
}
#submit {
  background-color: var(--color-accent-alt);
}
#submit:hover {
  background-color: var(--color-accent);
  color: var(--color-bg-dark);
  cursor: pointer;
}

.hr {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 10px var(--color-accent-alt);
  position: relative;
}
.hr::before,
.hr::after {
  content: "";
  width: 25vw;
  height: 1px;
  background-color: var(--color-accent);
  display: inline-block;
  position: absolute;
  top: 50%;
}
.hr::before {
  left: -27vw;
}
.hr::after {
  right: -27vw;
}
.legal {
  font-size: 85%;
}
.legal-link {
  color: var(--color-accent-alt);
}
.legal-link:hover {
  color: var(--color-accent);
}
/* end - footer */

#iel {
  opacity: 0;
  animation: fadeOut 3s;
}
.dan {
  display: inline-block;
  animation: shiftRight 2s ease-in;
}
.dan-pos {
  transform: translateX(28%);
}
.ack {
  display: inline-block;
  animation: shiftLeft 2s ease-in;
}
.ack-pos {
  transform: translateX(-12%);
}

/* animations */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shiftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(28%);
  }
}

@keyframes shiftLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-12%);
  }
}

/* media queries */

@media screen and (max-width: 450px) {
  html {
    font-size: 75%;
  }
  .about,
  .projects,
  .footer {
    font-size: 125%;
  }
}

@media screen and (max-width: 700px) {
  .skill-icon {
    height: 36px;
  }
  .skill {
    max-width: 40%;
    /* min-width: 175px; */
  }
}
